<footer>
    <div id="footer" style="padding-top: 100px">
        <div class="container">
            <!--/row-->
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 text-center">
        	<span class="fa-stack fa-lg">
              <i class="fa fa-circle text-primary fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-info fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-danger fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-controller="MainCtrl">
                <div class="col-sm-12 text-center">
                    <a style="cursor: pointer;" data-ng-click="disclaimerModel('lg')">Disclaimer</a> | <a
                        style="cursor: pointer;" data-ng-click="privacyPolicyModel('lg')">Privacy Policy</a>
                </div>
            </div>
            <!--<div class="row" id="final-footer" style="padding-top: 30px">-->
                <!--<div class="col-sm-12 text-center">-->
                    <!--<br><a href="https://ro.linkedin.com/pub/maria-stefan/ba/7b7/335">Web Design by Maria Stefan</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--/container-->
        </div>
        <!--/footer--></div>
    <div id="push"></div>
</footer>