<div class="text-center"><h1>Store</h1></div>
<div class="row">
    <tabset class="tabs-left">
        <tab heading="Special Sale">
            <div class="centered-row">
                <div class="row" style="padding-top: 5em">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Happy Hour">
            <div class="centered-row">
                <div class="row" style="padding-top: 5em">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here2
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here2
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here2
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Awesome here2
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Lucky Boxes">
            <div class="text-right">Lucky Boxes</div>
        </tab>
        <tab heading="Hot Offers">Hot Offers</tab>
        <tab heading="Appearance">Appearance</tab>
        <tab heading="Reset">Reset</tab>
        <tab heading="Empowerment">Empowerment</tab>
        <tab heading="Enhancements">Enhancements</tab>
        <tab heading="Storage">Storage</tab>
        <tab heading="Mounts and Pets">Mounts and Pets</tab>
        <tab heading="Miscellaneous">Miscellaneous</tab>
    </tabset>
</div>
<div data-ng-include="'init-footer'"></div>