<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    <title>Winds of Arithia - Fiesta Online Free MMORPG game</title>
    <meta charset="UTF-8">
    <meta name="fragment" content="!">
    <meta name=description
          content="Winds Of Arithia is an exciting anime style Fiesta Online MMORPG game with a large community of players exploring the lands of Kamala. Journey with your friends through the lands as you fight terrifying monsters and face dreadful bosses. Find treasures and weapons, skins and more as you progress through exhilarating levels. So bring your friends start your exciting adventures today!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Princess+Sofia"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    <link rel="stylesheet" href="/static/css/aristyle.css"/>
    <script data-main="/static/js/requireMain.js"
            src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
    <base href="/">
</head>
<body data-ng-cloak>
<div data-ng-include="'init-index'"></div>
</body>
</html>