<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form novalidate name="forgot_password" role="form" ng-submit="submit()">
                <div class="text-center">
                    <h1>Forgot Password
                    </h1>
                </div>
                <hr class="colorgraph">
                <div style="text-align: center;">Enter your new password:</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" data-ng-model="password" name="password" id="password" class="form-control input-lg"
                                   placeholder="Password" tabindex="1" data-ng-model="user.password" data-ng-minlength="6"
                                   data-ng-maxlength="20" data-to-Lower-Case data-ng-required
                                   autofocus>
                            <span ng-show="form.password.$invalid && !form.password.$dirty" class="help-block text-center"
                                  style="color:white;">Invalid password</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" data-ng-model="confirm_password" name="confirm_password" id="confirm_password"
                                   class="form-control input-lg"
                                   placeholder="Confirm Password" tabindex="2" data-ng-model="user.confirm_password" data-ng-minlength="6"
                                   data-ng-maxlength="20" data-ng-required>
                            <span ng-show="form.password.$dirty && form.password.$error.required"
                                  class="help-block text-center" style="color:white;">Invalid Password</span>
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="g-recaptcha" data-vc-recaptcha key="gRecaptchModel.key"
                         on-create="setgRecaptchWidgetId(widgetId)" on-success="setgRecaptchResponse(response)"></div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input data-ng-disabled="forgot_password.$invalid" type="submit"
                                                           class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-12 col-md-6"><a ui-sref="register" class="btn btn-success btn-block btn-lg">Register</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-include="'init-footer'"></div>