<div class="text-center"><h1>Disclaimer</h1></div>
<div class="panel panel-default">
    <div class="panel-body" style="text-align: justify">
        <h2 class="OpenSans text-center">I. RESPONSIBILITY / LIABILITY</h2>


        Let it be known that Winds of Arithia is a Fiesta Online Private Server and community. It is intended for
        educational purposes and to give the much demanding public a new way of playing and enjoying the game.
        This is a NON-PROFIT server, however, is open to donations via the process of gift exchanges in return for
        donating to support the servers we host the game on. However, these points can be acquired through gaming
        extensively with no requirement to donate to us.
        This server was created by and for GAME DEVELOPMENT enthusiasts and has no intention of competing with
        OFFICIAL FIESTA ONLINE SERVER/S.


        <h3 class="OpenSans text-center">I, the author of Winds of Arithia Server believe that this server is not
            illegal
            since:</h3>


        <li>The source files / codes have been released to the public and as of December 19, 2006, the global for
            Outspark Fiesta Online service has been shut down.
        </li>
        <li>Fiesta Online files have been released to the public for interested Game Developers at a FREE MMORPG
            development community forums. All files are available for downloads. [www.ragezone.com]
        </li>


        <h3 class="OpenSans text-center">I, the author of Winds of Arithia Private Server created this server for
            reasons:</h3>


        <li>To be able to enhance our programming / graphics authoring / web development / game development /
            animation and more I.T. related skills.
        </li>
        <li>Have a better understanding on Game authoring, GamePlay and GameDesign.</li>
        <li>Server / Client game development.</li>
        <br>

        <div class="text-center">If you think our server is violating any law, please email us at
            contact@kryptodev.com
        </div>


        <h3 class="OpenSans text-center">We strongly recommend that you play at OFFICIAL SERVERS:</h3>

        <div class="text-center"><strong>fiesta.gamigo.com</strong></div>


        <h2 class="OpenSans text-center">II. GENERAL LEGAL DISCLAIMER</h2>

        Winds of Arithia Private Server (Installers/patches) and any information enclosed within the
        files, contains restricted and/or privileged information and is intended only for authorized screening
        and/or confidential presentation at the Winds of Arithia Private Server discretion. If you are not the
        intended observer of Winds of Arithia Server FILES, you must not disseminate, modify, copy/plagiarize or take
        action in reliance upon it, unless permitted by the Winds of Arithia Private Server. None of the materials
        provided on this file may be used, reproduced or transmitted, in any form or by any means, electronic or
        mechanical, including recording or the use of any information storage and retrieval system, without written
        permission from the Winds of Arithia Private Server.

        If you received this Winds of Arithia Private Server FILES in error please notify the Winds of Arithia Private
        Server. The confidential nature of and/or privilege in the file enclosed is not waived or lost as a result
        of a mistake or error in this file. Winds of Arithia Private Server accepts no liability whatsoever, whether
        it was caused by:
        <br>
        <li>Accessing or other related actions to this file.</li>
        <li>Any links, and/or materials provided/attached to this file.</li>
        <br>

        <div class="text-center">Winds of Arithia Private Server assumes that all users understand risks involved
            within
            this file and/or its
            attached materials.
        </div>
    </div>
</div>