<div class="container">
    <div class="text-center"><h1>Support us by choosing a package!</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="text-center" style="font-family: 'Open Sans'">Basic Package</h3>
                        <p class="text-center">20k coins</p>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$20</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                        </li>
                    </ul>
                    <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Donate</a> </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="text-center" style="font-family: 'Open Sans'">Premium Package</h3>
                        <p class="text-center">40k coins</p>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$40</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                        </li>
                    </ul>
                    <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Donate</a> </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="text-center" style="font-family: 'Open Sans'">Extraneous Package</h3>
                        <p class="text-center">60k coins</p>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$60</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                        </li>
                    </ul>
                    <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Donate</a> </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="text-center" style="font-family: 'Open Sans'">Overwhelming Package</h3>
                        <p class="text-center">100k coins</p>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$100</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                        </li>
                    </ul>
                    <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Donate</a> </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div ng-include="'init-footer'"></div>