<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form novalidate name="forgot_password" role="form" ng-submit="submit()">
                <div class="text-center">
                    <h1>Forgot Password
                    </h1>
                </div>
                <hr class="colorgraph">
                <div style="text-align: center;">Enter your username or email, a reset request will be sent to your email address</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                   placeholder="E-mail" tabindex="1" data-to-Lower-Case data-ng-model="email" data-ng-required
                                   autofocus>
                            <span ng-show="forgot_password.email.$invalid && !forgot_password.email.$dirty" class="help-block text-center"
                                  style="color:white;">Invalid Email</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="username" id="username"
                                   class="form-control input-lg"
                                   placeholder="Username" tabindex="2" data-ng-model="username" data-ng-required>
                            <span ng-show="forgot_password.password.$dirty && forgot_password.password.$error.required"
                                  class="help-block text-center" style="color:white;">Invalid Password</span>
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="g-recaptcha" data-vc-recaptcha key="gRecaptchModel.key"
                         on-create="setgRecaptchWidgetId(widgetId)" on-success="setgRecaptchResponse(response)"></div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input data-ng-disabled="forgot_password.$invalid" type="submit"
                                                           class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-12 col-md-6"><a ui-sref="register" class="btn btn-success btn-block btn-lg">Register</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-include="'init-footer'"></div>